.consumption-tables-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 2vh 5vw 15vh 5vw;
}
.tables-container{
    width: 90vw;
}

.tables-container > div {
    width: 90vw;
    height: max-content;
}

.tables-container > div > ul {
    width: 90vw;
    padding-left: 0px;
    margin: 4px 0;
}

.tables-container > div > ul > li {
    width: 90vw;
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
}

.tables-container > div > h4 {
    margin: 5px 0;
}

.delete-button{
    width: 15px;
    height: 15px;
    margin-right: 7px;
    display: inline-block;
    position: relative;
}

.delete-button > span {
    width: 15px;
    height: 1px;
    background-color: var(--theme-text-gray);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.delete-button > span:nth-child(1) {
    rotate: 45deg;
}

.delete-button > span:nth-child(2) {
    rotate: -45deg;
}

.tables {
    padding: 0;
    margin-top: 0;
}

.tables li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.tables li h4 {
    margin: 0;
}

.tables li a {
    width: max-content;
    background-color: transparent;
    color: var(--theme-yellow);
    text-decoration: underline;
    padding: 0;
}

.tables li button {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tables li button svg {
    width: 15px;
    height: 15px;
}

.tables li button svg path {
    width: 100%;
    height: 100%;
}