.navigation {
    width: 100%;
    height: 70px;
    background: var(--theme-text-gray);
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 100px;
}

.navigation > button {
    background-color: transparent;
    width: 70px;
    height: 70px;
}

.navigation > button > svg {
    width: 35px;
    height: 35px;
}

.navigation .navigation-list {
    position: relative;
    display: flex;
    padding-left: 0px;
    justify-content: flex-end;
}

.navigation .navigation-list .list-item {
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    padding: 0;
}

.navigation .navigation-list .list-item a,  .navigation .navigation-list .list-item p{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
    margin-top: 0px;
}

.navigation .navigation-list .list-item a .icon,.navigation .navigation-list .list-item p .icon  {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 75px;
    transition: 0.5s;
}

.navigation .navigation-list .list-item a .icon svg,.navigation .navigation-list .list-item p .icon svg  {
    width: 35px;
    height: 35px;
}

.navigation .navigation-list .list-item a .icon path, .navigation .navigation-list .list-item p .icon path  {
    width: 100%;
    height: 100%;
}

.navigation .navigation-list .list-item a.active .icon, .navigation .navigation-list .list-item p.active .icon {
    translate: 0 -32px; 
}

.navigation .navigation-list .list-item a .text, .navigation .navigation-list .list-item p .text {
    position: absolute;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    opacity: 0;
    color: var(--theme-bg-black);
}

.navigation .navigation-list .list-item a.active .text, .navigation .navigation-list .list-item p.active .text {
    opacity: 1;
    translate: 0 10px;
}

.indicator {
    position: absolute;
    left: 0;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--theme-yellow);
    border: 6px solid var(--theme-bg-black);
    border-radius: 50%;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--theme-bg-black);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--theme-bg-black);
}

.link-item-1 {
    translate: calc(70px * 0) 0;
}

@media screen and (max-height: 500px){
    .navigation{
        display: none;
    }
}