* {
  box-sizing: border-box;
}

:root {
  --theme-yellow: #F6DB2B;
  --theme-bg-black: #18191A;
  --theme-neutral-gray: #3A3B3C;
  --theme-highlight-gray: #4E4F50;
  --theme-text-gray: #E4E6EB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-bg-black);
}

a, button, p, span, blockquote, textarea, h1, h2, h3, h4, h5, h6, td, th, li{
  color: var(--theme-text-gray);
}

ul, li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
